name: Rust
on:
  pull_request:
    branches: ["main"]
    paths: ["src/**", "Cargo.*", ".github/workflows/rust.yaml"]
permissions: read-all
env:
  CARGO_TERM_COLOR: always
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Log Cargo version
        run: cargo --version

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy --workspace --release --all-targets --all-features -- --deny warnings -D warnings -W clippy::correctness -W clippy::suspicious -W clippy::complexity -W clippy::perf -W clippy::style -W clippy::pedantic

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
